[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
"pyqt5" = "*"
image-match = {file = "image-match"}

[dev-packages]
ptpython = "*"

[requires]
python_version = "3.8"
